
@{
    ViewData["Title"] = "Error";
}

<h1><i style="color:red" class="fas fa-exclamation-circle"></i> This Id Is Not Found</h1>
<script src="https://kit.fontawesome.com/2eff66d092.js" crossorigin="anonymous"></script>

